@media(min-width:1200px){
  .header-top-wrapper .search-bar {
    top: 43px;
    left: 215px;
}
}
@media(max-width:1050px){
  .menu-wrapper ul li{
    display: none;
  }
  .menu-wrapper ul li.button, .menu-wrapper ul li.button-2{
    display: inline-block;
  }
  .header-top-wrapper .search-bar {
    top: 32%;
    left: 36%;
}

}
@media(min-width:1050px){
  .header-top-wrapper .mobile-btn .icon{
    display: none;
  }
  .header-top-wrapper .logo{
    padding-left: 0;
  }

}
@media(max-width:991.90px){
  .get-started-area .content-wrapper{
    flex-direction: column;
  }
  .get-started-area .content-wrapper .left{
    max-width: 100%;
  }
  .get-started-area .content-wrapper .right{
    width: 100%;
    margin-top: 30px;
  }
  .copyright-area {
    margin-top: 30px;
  }
}
@media(max-width:700px){
  .header-top-wrapper .search-bar{
    display: none;
  }
}
@media(max-width:575px){
  .header-top-wrapper{
    justify-content: space-between !important;
  }
  .menu-wrapper ul li.button{
    display: none;
  }
  .menu-wrapper{
    margin-left: 0px;
  }
  .menu-wrapper ul li+ li{
    margin-left: 0;
  }
  .find-area .title-wrapper h4{
    font-size: 25px;
  }
  .skill-area .title-wrapper .title h3{
    font-size: 23px;
  }
  .service-area .title h3{
    font-size: 26px;
  }




}
@media(max-width:455px){
  .find-area .title-wrapper h4{
    font-size: 19px;
  }
  .find-area .description p{
    font-size: 16px;
  }
}